---
layout: default
---

<header>
  {% comment %}
  This section checks if the navbar should be shown, as configured in your site's settings.
  If yes, it includes the horizontal_list.html with your navbar entries.
  {% endcomment %}
  {% if site.theme_config.show_navbar == true %}
    {% include horizontal_list.html collection=site.data.home.navbar_entries %}
    <div class="dashed"></div>
  {% endif %}

  {% comment %}
  Displays the site title. This is typically set in your _config.yml file.
  {% endcomment %}
  <h1>{{ site.title }}</h1>

  {% comment %}
  Checks if the site description should be shown, and if yes, displays it.
  {% endcomment %}
  {% if site.theme_config.show_description == true %}
    <p>{{ site.description }}</p>
  {% endif %}
</header>

{% comment %}
This outputs the main content of the page.
{% endcomment %}
{{ content }}

{% comment %}
Below are conditional sections that will display only if the respective
features are enabled in your site's configuration.
{% endcomment %}

{% if site.theme_config.show_projects == true %}
  <h2>{{ site.theme_config.home.title_projects }}</h2>
  {% include card_list.html collection=site.data.home.project_entries %}
{% endif %}

{% if site.theme_config.show_misc_list == true %}
  <h2>{{ site.theme_config.home.title_misc_list }}</h2>
  {% include vertical_list.html collection=site.data.home.misc_entries %}
{% endif %}

{% if site.theme_config.show_blog == true %}
  <h2>{{ site.theme_config.home.title_blog }}</h2>
  {% include post_list.html %}
{% endif %}

{% if site.theme_config.show_old_projects == true %}
  <h2>{{ site.theme_config.home.title_old_projects }}</h2>
  {% include card_list.html collection=site.data.home.old_project_entries %}
{% endif %}
